<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>CSV Checker</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>


<body>

    <div class="containerbig">
        <div class="section">
            <h1>CSV Checker</h1>
            <form id="uploadForm" enctype="multipart/form-data" class="upload-form">
                <!-- PDF File Input -->
                <input type="file" name="txt" accept=".txt, .csv">                
                    
                <!-- Upload Button -->
                <button type="submit" class="primary-button">Upload & Check</button>
                <span id="uploadPDFStatus" style="display: none;"></span>
            </form>

            <br>

            <div id="documentedUploadedSuccessfully"></div>
            <div id="pageInfo"></div>

            <!-- <div class="button-group">
                <button id="getPagesButton" class="primary-button">Upload & Check</button>
            </div> -->
            <br> <br> <br>

            <div id="showingUploadedDocs" class="loading">   
                <br><br>
            </div>
            




            <div id="loadingIconPages" class="loading" style="display: none;">
                <br>Getting page segmentations... Do not refresh or close the page.<br><br>
                Time elapsed: <span id="timer">0:00</span>
            </div>

                        
            <br> <br> <br>
            <button id="resetButton" class="red-button">Start Again</button>

            <br>
        </div>

        <div class="section">
            <textarea id="CSVcheckedTextArea" rows="8" placeholder=""></textarea>
        </div>
    </div>












    <script>

    let timerInterval; // Variable to store the timer interval
    let secondsElapsed = 0; // Counter for elapsed seconds

    function startTimer() {
        const timerElement = document.getElementById("timer");
        secondsElapsed = 0;

        // Start the interval to update the timer every second
        timerInterval = setInterval(() => {
            secondsElapsed++;
            const minutes = Math.floor(secondsElapsed / 60);
            const seconds = secondsElapsed % 60;
            timerElement.textContent = `${minutes}:${seconds.toString().padStart(2, '0')}`;
        }, 1000);
    }

    function stopTimer() {
        clearInterval(timerInterval); // Stop the interval
        const timerElement = document.getElementById("timer");
        const minutes = Math.floor(secondsElapsed / 60);
        const seconds = secondsElapsed % 60;
        timerElement.textContent = `Total time: ${minutes}:${seconds.toString().padStart(2, '0')}`;
    }


    function UpdateshowingUploadedDocs(newText) {
        const showingUploadedDocs = document.getElementById("showingUploadedDocs");
        showingUploadedDocs.innerHTML = `
            <br>${newText}`;
            
    }


    function updateLoadingTextPages(newText) {
        const loadingIconPages = document.getElementById("loadingIconPages");
        loadingIconPages.innerHTML = `
            <br>${newText}`;
    }


    $("#resetButton").on("click", function (event) {
        event.preventDefault(); // Prevent default action
        const confirmation = confirm("Are you sure you want to start again?");
        if (confirmation) {
            location.reload(); // Standard reload
        }
    }); 


    // JavaScript for handling uploads and page selection
    $("#uploadForm").on("submit", function(event) {
        event.preventDefault();
        let formData = new FormData(this);

        $.ajax({
            url: "/uploadAndCheckCSV",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                let numPages = response.num_pages;
                num_pages_global = numPages
                isDocumentUploaded = true; // Set the flag to true once upload succeeds
                $("#CSVcheckedTextArea").val(response.errors_and_duplicates);     

                // Update the upload status
                $("#uploadPDFStatus").text("Uploaded (" + numPages + " pages)").show();
            }
        });
    });
       
    $("#getPagesButton").on("click", function() {

        event.preventDefault();

        if (!isDocumentUploaded) {
            alert("Please upload a document before summarizing.");
            return;
        }

        // Get the value of the pageDelimiter textarea
        let pageDelimiterValue = $("#pageDelimiter").val();

        // Check if the pageDelimiterValue is empty or invalid, and set to 100 by default
        if (!pageDelimiterValue || isNaN(pageDelimiterValue)) {
            pageDelimiterValue = 100; // Default value
        }

        $("#loadingIconPages").show();
        startTimer();

        $.ajax({
            url: "/getPages",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
            pageDelimiter: pageDelimiterValue  // Pass the pageDelimiter value here
        }),
            success: function(response) {
                // $("#loadingIconPages").hide();
                // $("#loadingIconPages").val();
                $("#PagesText").val(response.errors_and_duplicates);     
                // stopTimer();
                // const loadingIconPages = document.getElementById("loadingIconPages");
                // loadingIconPages.style.display = "block";
                updateLoadingTextPages("Check finished.");
            }
        });
    });



    $("#exportResultsToCSVFile").on("click", function() {
            console.log("Export TXT button clicked");
            
            let TXTText = $("#PagesText").val();

            // Prepare the data to be sent to the server
            let dataToSend = {
                TXTText: TXTText
            };

            $.ajax({
                url: "/exportresultstoCSV",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(dataToSend),
                success: function(response) {
                    console.log("Data sent to save as TXT successfully!");
                    alert("Info is saved to TXT document successfully!");
                }
            });
        });






    </script>



</body>

</html>

